{
    extends: "eslint-config-globex",
    rules: {
      "flowtype/require-parameter-type": "off",
      "flowtype/require-return-type": "off",
      "flowtype/require-valid-file-annotation": "off"
    },
    settings: {
        react: {
            version: '16.0.0'
        }
    }
}
